.form-element {
  background-color: blue;
}

.book {
  background-color: blue;
}

#bookshelf .book {
  font-size: 20px;
}

#bookshelf .car {
  background-color: red;
}

#bookshelf .house {
  color: purple;
}