<div>
  Title: <%= book.title %>
</div>
<div>
  Author: <%= book.author %>
</div>
<div style="background: gray;">
  price: $<%= book.price %>
</div>
<div style="background: gray;">
  Page: $<%= page %>
</div>