
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to your site!</h1>
    <% if (cookies && cookies.user) { %>
      <p>Would you like to <a href="/protected">see</a> something protected?</p>
      <div>Hello <%= cookies.user.name %></div>
      <form action="/logout" method="POST">
        <button type="submit">Log out</button>
      </form>
    <% } else { %>
      <p>Please <a href="/login">Log In</a></p>
    <% } %>
  </body>
</html>